FORMAT: 1A
HOST: https://wechalet.amalyet.com/

# api.wechalet

Rest API for wechalet a cabin rental agency in Austin, Quebec, Canada.



## hosting [/v1/hosting/listings]
Retrieve all properties
### api/v1/listings [GET]
+ Request (application/json)

        {
            
        }
+ Response 200 (application/json)

    + Body

            {
                  "data": [
                                {
                                  "id": "9b3d4ad4-cfb8-463a-bb8f-47d9273abc9f",
                                  "status": "published",
                                  "progress": 10,
                                  "name": "Zen",
                                  "image": "https:\/\/wechalet.local\/images\/default_listing.jpg",
                                  "vr_tour_url": null,
                                  "instant_booking": true
                                }
                              ],
                              "links": {
                                "first": "https:\/\/wechalet.local\/api\/v1\/hosting\/listings?page=1",
                                "last": "https:\/\/wechalet.local\/api\/v1\/hosting\/listings?page=1",
                                "prev": null,
                                "next": null
                              },
                              "meta": {
                                "current_page": 1,
                                "from": 1,
                                "last_page": 1,
                                "path": "https:\/\/wechalet.local\/api\/v1\/hosting\/listings",
                                "per_page": 15,
                                "to": 1,
                                "total": 1
                              }
            }
                
+ Response 401 (application/json)

    + Body

             {
                  "message": "Unauthenticated."
             }
             

## Get property by ID [/v1/hosting/listings/{uuid}]
+ Parameters
    + uuid (string) - ID of the listing


### api/v1/listings/{uuid} [GET]
+ Request (application/json)

        {
            
        }
+ Response 200 (application/json)

    + Body

            {
                 "data": {
                            "id": "9b3d4ad4-cfb8-463a-bb8f-47d9273abc9f",
                            "name": "Zen",
                            "vr_tour_url": null,
                            "status": "published",
                            "progress": 10,
                            "space": {
                              "listing_type": "home",
                              "type_of_rent": "c15e99d2-3006-49c6-820f-e679b35d7ac4",
                              "type_of_property": "d5bf9938-68f1-403f-80c1-054c5d3449ac",
                              "only_for_guests": true,
                              "guests_count": 20,
                              "washrooms_count": 2
                            },
                            "location": {
                              "id": "440bd6f4-17e0-465e-bc12-8a8d98e661ad",
                              "country": "Canada",
                              "state": "New Brunswick",
                              "city": "Six Roads",
                              "address": "Chemin Pallot, Paroisse d'Inkerman",
                              "postal_code": "E1X 3G4",
                              "suite_building": "1st building",
                              "latitude": "45.7105985",
                              "longitude": "-72.3951885"
                            },
                            "amenities": [
                              "2fdf5a8a-45bc-4726-8831-b9c9fd2b689c",
                              "b4751ff2-e314-4f61-a00f-505872e0c19a",
                              "b8e51082-8e0c-4cea-bf71-f7f931891fee"
                            ],
                            "photos": [],
                            "description": {
                              "about_this_property_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "about_this_property_fr": "Cette maison est décorée de façon très épuré vous vous sentirez à la maison. Les lieux sont tranquilles aucun voisin derrière vous avez accès au bois avec parfois quelques visiteurs comme chevreuil. Vous aurez accès un magnifique four à pizza barbecue et magnifique terrasse afin de profiter de la Tranquillité à la campagne",
                              "birds_eye_view_en": "The whole house",
                              "birds_eye_view_fr": "Maison entière",
                              "description_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "description_fr": "Test Wechalet",
                              "home_access_en": "The whole house",
                              "home_access_fr": "Vous aurez accès à la maison entière",
                              "host_availability_fr": "Je reste à votre entière disposition durant votre séjour pour toute question ou afin de vous aider à planifier vos vacances avec différentes activités dans la région",
                              "host_availability_en": "i will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_en": "I will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_fr": "Test Wechalet",
                              "title_en": "Zen",
                              "title_fr": "Magnifique retrait en Estrie",
                              "travelling_around_en": "You are 3 km from the beautiful village of Eastman also very close is Orford park where you could go to any beaches around this area also 10 minute drive to the beautiful city of Magog while you were find great shops and also beaches many good restaurants",
                              "travelling_around_fr": "Vous avez à moins de 3 km le beau village de Eastman à moins 10 minutes du parc du mont Orford et à 15 minutes de Magog"
                            },
                            "booking_settings": {
                              "id": "400cb273-2c60-4b4f-9477-0c033ceff102",
                              "instant_booking": true,
                              "checkin_hour": "12AM",
                              "checkout_hour": "5PM",
                              "min_stay_count": 1,
                              "max_stay_count": 29,
                              "min_stay_type": "nights",
                              "max_stay_type": "nights",
                              "booking_window": "0",
                              "cancellation_policy": "flexible",
                              "other_rules": "other rules",
                              "force_weekend": true,
                              "custom_min_stay": {
                                "min_stay_mondays": 1,
                                "min_stay_tuesdays": 1,
                                "min_stay_wednesdays": 1,
                                "min_stay_thursdays": 1,
                                "min_stay_fridays": 1,
                                "min_stay_saturdays": 1,
                                "min_stay_sundays": 1
                              }
                            },
                            "instant_book_qualifications": [],
                            "house_rules": [],
                            "guest_expectations": [],
                            "calendar": {
                              "dates": [
                                {
                                  "id": "5f367781-3777-4f49-bade-373403f8c060",
                                  "price": 73,
                                  "note": "my block\r",
                                  "is_blocked": true,
                                  "is_booked": false,
                                  "type": "blocked",
                                  "date": "2020-05-12 00:00:00",
                                  "booked_by": "wechalet"
                                }
                               
                              ],
                              "bookings": [
                                {
                                  "id": "2aceaafa-dee2-4b75-b5e5-901c18a7255d",
                                  "start_date": "2020-04-27 00:00:00",
                                  "end_date": "2020-05-09 00:00:00",
                                  "booked_by": "wechalet",
                                  "guest": {
                                    "fullname": "",
                                    "avatar": null
                                  }
                                }
                              ],
                              "has_bookings": false,
                              "can_be_synchronized": true
                            },
                            "pricing": {
                              "cleaning_fee": 36,
                              "security_deposit": 51,
                              "currency": "CAD",
                              "extra_guests_count": 3,
                              "price_per_extra_guest": 126,
                              "base_price": 73,
                              "price_per_weekend": 174,
                              "monthly_discount": 30,
                              "weekly_discount": 10,
                              "allow_guest_above_capacity": 0
                            },
                            "guest_material": {
                              "wifi_name": "test",
                              "wifi_password": "test",
                              "house_manual": "house_manual",
                              "self_checking": "self_checking",
                              "smart_lock": false,
                              "keypad": false,
                              "lockbox": false,
                              "doorman": false
                            },
                            "created_at": "2020-04-26T08:41:28.000000Z",
                            "updated_at": "2020-04-26T10:19:31.000000Z"
                          }
            }
                
+ Response 401 (application/json)

    + Body

             {
                  "message": "Unauthenticated."
             }




## Update space [/v1/hosting/listings/{uuid}/space]
+ Parameters
    + uuid (string) - ID of the listing


### Update space [PUT]
+ Request (application/json)

    + space
        + `type_of_property` required string id from property type.
        + `type_of_rent`  required string id from rent types. 
        + `only_for_guests`  required boolean.
        + `guests_count`  required integer.
        + `washrooms_count`  required number.
        + `listing_type`  required string.
    
  
    + Body

            {
            
                "type_of_property": "c15e99d2-3006-49c6-820f-e679b35d7ac4",
                "type_of_rent": "d5bf9938-68f1-403f-80c1-054c5d3449ac",
                "only_for_guests": true,
                "guests_count": 20,
                "washrooms_count": 2,
                "listing_type": "home"
            }
            

+ Response 200 (application/json)

    + Body

            {
                 "data": {
                            "id": "9b3d4ad4-cfb8-463a-bb8f-47d9273abc9f",
                            "name": "Zen",
                            "vr_tour_url": null,
                            "status": "published",
                            "progress": 10,
                            "space": {
                              "listing_type": "home",
                              "type_of_rent": "c15e99d2-3006-49c6-820f-e679b35d7ac4",
                              "type_of_property": "d5bf9938-68f1-403f-80c1-054c5d3449ac",
                              "only_for_guests": true,
                              "guests_count": 20,
                              "washrooms_count": 2
                            },
                            "location": {
                              "id": "440bd6f4-17e0-465e-bc12-8a8d98e661ad",
                              "country": "Canada",
                              "state": "New Brunswick",
                              "city": "Six Roads",
                              "address": "Chemin Pallot, Paroisse d'Inkerman",
                              "postal_code": "E1X 3G4",
                              "suite_building": "1st building",
                              "latitude": "45.7105985",
                              "longitude": "-72.3951885"
                            },
                            "amenities": [
                              "2fdf5a8a-45bc-4726-8831-b9c9fd2b689c",
                              "b4751ff2-e314-4f61-a00f-505872e0c19a",
                              "b8e51082-8e0c-4cea-bf71-f7f931891fee"
                            ],
                            "photos": [],
                            "description": {
                              "about_this_property_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "about_this_property_fr": "Cette maison est décorée de façon très épuré vous vous sentirez à la maison. Les lieux sont tranquilles aucun voisin derrière vous avez accès au bois avec parfois quelques visiteurs comme chevreuil. Vous aurez accès un magnifique four à pizza barbecue et magnifique terrasse afin de profiter de la Tranquillité à la campagne",
                              "birds_eye_view_en": "The whole house",
                              "birds_eye_view_fr": "Maison entière",
                              "description_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "description_fr": "Test Wechalet",
                              "home_access_en": "The whole house",
                              "home_access_fr": "Vous aurez accès à la maison entière",
                              "host_availability_fr": "Je reste à votre entière disposition durant votre séjour pour toute question ou afin de vous aider à planifier vos vacances avec différentes activités dans la région",
                              "host_availability_en": "i will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_en": "I will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_fr": "Test Wechalet",
                              "title_en": "Zen",
                              "title_fr": "Magnifique retrait en Estrie",
                              "travelling_around_en": "You are 3 km from the beautiful village of Eastman also very close is Orford park where you could go to any beaches around this area also 10 minute drive to the beautiful city of Magog while you were find great shops and also beaches many good restaurants",
                              "travelling_around_fr": "Vous avez à moins de 3 km le beau village de Eastman à moins 10 minutes du parc du mont Orford et à 15 minutes de Magog"
                            },
                            "booking_settings": {
                              "id": "400cb273-2c60-4b4f-9477-0c033ceff102",
                              "instant_booking": true,
                              "checkin_hour": "12AM",
                              "checkout_hour": "5PM",
                              "min_stay_count": 1,
                              "max_stay_count": 29,
                              "min_stay_type": "nights",
                              "max_stay_type": "nights",
                              "booking_window": "0",
                              "cancellation_policy": "flexible",
                              "other_rules": "other rules",
                              "force_weekend": true,
                              "custom_min_stay": {
                                "min_stay_mondays": 1,
                                "min_stay_tuesdays": 1,
                                "min_stay_wednesdays": 1,
                                "min_stay_thursdays": 1,
                                "min_stay_fridays": 1,
                                "min_stay_saturdays": 1,
                                "min_stay_sundays": 1
                              }
                            },
                            "instant_book_qualifications": [],
                            "house_rules": [],
                            "guest_expectations": [],
                            "calendar": {
                              "dates": [
                                {
                                  "id": "5f367781-3777-4f49-bade-373403f8c060",
                                  "price": 73,
                                  "note": "my block\r",
                                  "is_blocked": true,
                                  "is_booked": false,
                                  "type": "blocked",
                                  "date": "2020-05-12 00:00:00",
                                  "booked_by": "wechalet"
                                }
                               
                              ],
                              "bookings": [
                                {
                                  "id": "2aceaafa-dee2-4b75-b5e5-901c18a7255d",
                                  "start_date": "2020-04-27 00:00:00",
                                  "end_date": "2020-05-09 00:00:00",
                                  "booked_by": "wechalet",
                                  "guest": {
                                    "fullname": "",
                                    "avatar": null
                                  }
                                }
                              ],
                              "has_bookings": false,
                              "can_be_synchronized": true
                            },
                            "pricing": {
                              "cleaning_fee": 36,
                              "security_deposit": 51,
                              "currency": "CAD",
                              "extra_guests_count": 3,
                              "price_per_extra_guest": 126,
                              "base_price": 73,
                              "price_per_weekend": 174,
                              "monthly_discount": 30,
                              "weekly_discount": 10,
                              "allow_guest_above_capacity": 0
                            },
                            "guest_material": {
                              "wifi_name": "test",
                              "wifi_password": "test",
                              "house_manual": "house_manual",
                              "self_checking": "self_checking",
                              "smart_lock": false,
                              "keypad": false,
                              "lockbox": false,
                              "doorman": false
                            },
                            "created_at": "2020-04-26T08:41:28.000000Z",
                            "updated_at": "2020-04-26T10:19:31.000000Z"
                          }
            }
                
+ Response 401 (application/json)

    + Body

             {
                  "message": "Unauthenticated."
             }




## Update location [/v1/hosting/listings/{uuid}/location]
+ Parameters
    + uuid (string) - ID of the listing


### Update location [PUT]
+ Request (application/json)

    + location
        + `country` required string.
        + `state`  required string. 
        + `city`  required string.
        + `address`  required string.
        + `suite_building`  nullable string.
        + `latitude`  required string.
        + `longitude`  required string.
 
  
    + Body

            
            {
                "country": "Canada",
                "state": "New Brunswick",
                "city": "Six Roads",
                "address": "Chemin Pallot, Paroisse d'Inkerman",
                "postal_code": "E1X 3G4",
                "suite_building": "1st building",
                "latitude": "45.7105985",
                "longitude": "-72.3951885"
            }
            
+ Response 200 (application/json)

    + Body

            {
                 "data": {
                            "id": "9b3d4ad4-cfb8-463a-bb8f-47d9273abc9f",
                            "name": "Zen",
                            "vr_tour_url": null,
                            "status": "published",
                            "progress": 10,
                            "space": {
                              "listing_type": "home",
                              "type_of_rent": "c15e99d2-3006-49c6-820f-e679b35d7ac4",
                              "type_of_property": "d5bf9938-68f1-403f-80c1-054c5d3449ac",
                              "only_for_guests": true,
                              "guests_count": 20,
                              "washrooms_count": 2
                            },
                            "location": {
                              "id": "440bd6f4-17e0-465e-bc12-8a8d98e661ad",
                              "country": "Canada",
                              "state": "New Brunswick",
                              "city": "Six Roads",
                              "address": "Chemin Pallot, Paroisse d'Inkerman",
                              "postal_code": "E1X 3G4",
                              "suite_building": "1st building",
                              "latitude": "45.7105985",
                              "longitude": "-72.3951885"
                            },
                            "amenities": [
                              "2fdf5a8a-45bc-4726-8831-b9c9fd2b689c",
                              "b4751ff2-e314-4f61-a00f-505872e0c19a",
                              "b8e51082-8e0c-4cea-bf71-f7f931891fee"
                            ],
                            "photos": [],
                            "description": {
                              "about_this_property_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "about_this_property_fr": "Cette maison est décorée de façon très épuré vous vous sentirez à la maison. Les lieux sont tranquilles aucun voisin derrière vous avez accès au bois avec parfois quelques visiteurs comme chevreuil. Vous aurez accès un magnifique four à pizza barbecue et magnifique terrasse afin de profiter de la Tranquillité à la campagne",
                              "birds_eye_view_en": "The whole house",
                              "birds_eye_view_fr": "Maison entière",
                              "description_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "description_fr": "Test Wechalet",
                              "home_access_en": "The whole house",
                              "home_access_fr": "Vous aurez accès à la maison entière",
                              "host_availability_fr": "Je reste à votre entière disposition durant votre séjour pour toute question ou afin de vous aider à planifier vos vacances avec différentes activités dans la région",
                              "host_availability_en": "i will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_en": "I will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_fr": "Test Wechalet",
                              "title_en": "Zen",
                              "title_fr": "Magnifique retrait en Estrie",
                              "travelling_around_en": "You are 3 km from the beautiful village of Eastman also very close is Orford park where you could go to any beaches around this area also 10 minute drive to the beautiful city of Magog while you were find great shops and also beaches many good restaurants",
                              "travelling_around_fr": "Vous avez à moins de 3 km le beau village de Eastman à moins 10 minutes du parc du mont Orford et à 15 minutes de Magog"
                            },
                            "booking_settings": {
                              "id": "400cb273-2c60-4b4f-9477-0c033ceff102",
                              "instant_booking": true,
                              "checkin_hour": "12AM",
                              "checkout_hour": "5PM",
                              "min_stay_count": 1,
                              "max_stay_count": 29,
                              "min_stay_type": "nights",
                              "max_stay_type": "nights",
                              "booking_window": "0",
                              "cancellation_policy": "flexible",
                              "other_rules": "other rules",
                              "force_weekend": true,
                              "custom_min_stay": {
                                "min_stay_mondays": 1,
                                "min_stay_tuesdays": 1,
                                "min_stay_wednesdays": 1,
                                "min_stay_thursdays": 1,
                                "min_stay_fridays": 1,
                                "min_stay_saturdays": 1,
                                "min_stay_sundays": 1
                              }
                            },
                            "instant_book_qualifications": [],
                            "house_rules": [],
                            "guest_expectations": [],
                            "calendar": {
                              "dates": [
                                {
                                  "id": "5f367781-3777-4f49-bade-373403f8c060",
                                  "price": 73,
                                  "note": "my block\r",
                                  "is_blocked": true,
                                  "is_booked": false,
                                  "type": "blocked",
                                  "date": "2020-05-12 00:00:00",
                                  "booked_by": "wechalet"
                                }
                               
                              ],
                              "bookings": [
                                {
                                  "id": "2aceaafa-dee2-4b75-b5e5-901c18a7255d",
                                  "start_date": "2020-04-27 00:00:00",
                                  "end_date": "2020-05-09 00:00:00",
                                  "booked_by": "wechalet",
                                  "guest": {
                                    "fullname": "",
                                    "avatar": null
                                  }
                                }
                              ],
                              "has_bookings": false,
                              "can_be_synchronized": true
                            },
                            "pricing": {
                              "cleaning_fee": 36,
                              "security_deposit": 51,
                              "currency": "CAD",
                              "extra_guests_count": 3,
                              "price_per_extra_guest": 126,
                              "base_price": 73,
                              "price_per_weekend": 174,
                              "monthly_discount": 30,
                              "weekly_discount": 10,
                              "allow_guest_above_capacity": 0
                            },
                            "guest_material": {
                              "wifi_name": "test",
                              "wifi_password": "test",
                              "house_manual": "house_manual",
                              "self_checking": "self_checking",
                              "smart_lock": false,
                              "keypad": false,
                              "lockbox": false,
                              "doorman": false
                            },
                            "created_at": "2020-04-26T08:41:28.000000Z",
                            "updated_at": "2020-04-26T10:19:31.000000Z"
                          }
            }
                
+ Response 401 (application/json)

    + Body

             {
                  "message": "Unauthenticated."
             }


## Update amenities [/v1/hosting/listings/{uuid}/amenities]
+ Parameters
    + uuid (string) - ID of the listing

### Update amenities [PUT]
+ Request (application/json)

    + Body

            
            {
                "amenities":
                    [
                                 "2fdf5a8a-45bc-4726-8831-b9c9fd2b689c",
                                  "b4751ff2-e314-4f61-a00f-505872e0c19a",
                                  "b8e51082-8e0c-4cea-bf71-f7f931891fee"
                    ]
                                  
            }
        
        
+ Response 200 (application/json)

    + Body

            {
                 "data": {
                            "id": "9b3d4ad4-cfb8-463a-bb8f-47d9273abc9f",
                            "name": "Zen",
                            "vr_tour_url": null,
                            "status": "published",
                            "progress": 10,
                            "space": {
                              "listing_type": "home",
                              "type_of_rent": "c15e99d2-3006-49c6-820f-e679b35d7ac4",
                              "type_of_property": "d5bf9938-68f1-403f-80c1-054c5d3449ac",
                              "only_for_guests": true,
                              "guests_count": 20,
                              "washrooms_count": 2
                            },
                            "location": {
                              "id": "440bd6f4-17e0-465e-bc12-8a8d98e661ad",
                              "country": "Canada",
                              "state": "New Brunswick",
                              "city": "Six Roads",
                              "address": "Chemin Pallot, Paroisse d'Inkerman",
                              "postal_code": "E1X 3G4",
                              "suite_building": "1st building",
                              "latitude": "45.7105985",
                              "longitude": "-72.3951885"
                            },
                            "amenities": [
                              "2fdf5a8a-45bc-4726-8831-b9c9fd2b689c",
                              "b4751ff2-e314-4f61-a00f-505872e0c19a",
                              "b8e51082-8e0c-4cea-bf71-f7f931891fee"
                            ],
                            "photos": [],
                            "description": {
                              "about_this_property_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "about_this_property_fr": "Cette maison est décorée de façon très épuré vous vous sentirez à la maison. Les lieux sont tranquilles aucun voisin derrière vous avez accès au bois avec parfois quelques visiteurs comme chevreuil. Vous aurez accès un magnifique four à pizza barbecue et magnifique terrasse afin de profiter de la Tranquillité à la campagne",
                              "birds_eye_view_en": "The whole house",
                              "birds_eye_view_fr": "Maison entière",
                              "description_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "description_fr": "Test Wechalet",
                              "home_access_en": "The whole house",
                              "home_access_fr": "Vous aurez accès à la maison entière",
                              "host_availability_fr": "Je reste à votre entière disposition durant votre séjour pour toute question ou afin de vous aider à planifier vos vacances avec différentes activités dans la région",
                              "host_availability_en": "i will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_en": "I will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_fr": "Test Wechalet",
                              "title_en": "Zen",
                              "title_fr": "Magnifique retrait en Estrie",
                              "travelling_around_en": "You are 3 km from the beautiful village of Eastman also very close is Orford park where you could go to any beaches around this area also 10 minute drive to the beautiful city of Magog while you were find great shops and also beaches many good restaurants",
                              "travelling_around_fr": "Vous avez à moins de 3 km le beau village de Eastman à moins 10 minutes du parc du mont Orford et à 15 minutes de Magog"
                            },
                            "booking_settings": {
                              "id": "400cb273-2c60-4b4f-9477-0c033ceff102",
                              "instant_booking": true,
                              "checkin_hour": "12AM",
                              "checkout_hour": "5PM",
                              "min_stay_count": 1,
                              "max_stay_count": 29,
                              "min_stay_type": "nights",
                              "max_stay_type": "nights",
                              "booking_window": "0",
                              "cancellation_policy": "flexible",
                              "other_rules": "other rules",
                              "force_weekend": true,
                              "custom_min_stay": {
                                "min_stay_mondays": 1,
                                "min_stay_tuesdays": 1,
                                "min_stay_wednesdays": 1,
                                "min_stay_thursdays": 1,
                                "min_stay_fridays": 1,
                                "min_stay_saturdays": 1,
                                "min_stay_sundays": 1
                              }
                            },
                            "instant_book_qualifications": [],
                            "house_rules": [],
                            "guest_expectations": [],
                            "calendar": {
                              "dates": [
                                {
                                  "id": "5f367781-3777-4f49-bade-373403f8c060",
                                  "price": 73,
                                  "note": "my block\r",
                                  "is_blocked": true,
                                  "is_booked": false,
                                  "type": "blocked",
                                  "date": "2020-05-12 00:00:00",
                                  "booked_by": "wechalet"
                                }
                               
                              ],
                              "bookings": [
                                {
                                  "id": "2aceaafa-dee2-4b75-b5e5-901c18a7255d",
                                  "start_date": "2020-04-27 00:00:00",
                                  "end_date": "2020-05-09 00:00:00",
                                  "booked_by": "wechalet",
                                  "guest": {
                                    "fullname": "",
                                    "avatar": null
                                  }
                                }
                              ],
                              "has_bookings": false,
                              "can_be_synchronized": true
                            },
                            "pricing": {
                              "cleaning_fee": 36,
                              "security_deposit": 51,
                              "currency": "CAD",
                              "extra_guests_count": 3,
                              "price_per_extra_guest": 126,
                              "base_price": 73,
                              "price_per_weekend": 174,
                              "monthly_discount": 30,
                              "weekly_discount": 10,
                              "allow_guest_above_capacity": 0
                            },
                            "guest_material": {
                              "wifi_name": "test",
                              "wifi_password": "test",
                              "house_manual": "house_manual",
                              "self_checking": "self_checking",
                              "smart_lock": false,
                              "keypad": false,
                              "lockbox": false,
                              "doorman": false
                            },
                            "created_at": "2020-04-26T08:41:28.000000Z",
                            "updated_at": "2020-04-26T10:19:31.000000Z"
                          }
            }
                
+ Response 401 (application/json)

    + Body

             {
                  "message": "Unauthenticated."
             }





## Update description [/v1/hosting/listings/{uuid}/description]
+ Parameters
    + uuid (string) - ID of the listing


### Update description [PUT]
+ Request (application/json)

    + description
        + `about_this_property_en` nullable text.
        + `about_this_property_fr` nullable text.
        + `birds_eye_view_en` nullable text.
        + `birds_eye_view_fr` nullable text.
        + `description_en` nullable text.
        + `description_fr` nullable text.
        + `home_access_en` nullable text.
        + `home_access_fr` nullable text.
        + `host_availability_fr` nullable text.
        + `host_availability_en` nullable text.
        + `other_things_to_know_en` nullable text.
        + `other_things_to_know_fr` nullable text.
        + `title_en` required text.
        + `title_fr` required text.
        + `travelling_around_en` nullable text.
        + `travelling_around_fr` nullable text.

    + Body

            
                {
                    "about_this_property_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                    "about_this_property_fr": "Cette maison est décorée de façon très épuré vous vous sentirez à la maison. Les lieux sont tranquilles aucun voisin derrière vous avez accès au bois avec parfois quelques visiteurs comme chevreuil. Vous aurez accès un magnifique four à pizza barbecue et magnifique terrasse afin de profiter de la Tranquillité à la campagne",
                    "birds_eye_view_en": "The whole house",
                    "birds_eye_view_fr": "Maison entière",
                    "description_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                    "description_fr": "Test Wechalet",
                    "home_access_en": "The whole house",
                    "home_access_fr": "Vous aurez accès à la maison entière",
                    "host_availability_fr": "Je reste à votre entière disposition durant votre séjour pour toute question ou afin de vous aider à planifier vos vacances avec différentes activités dans la région",
                    "host_availability_en": "i will be available to help you plan a great vacation and there for any questions you may have",
                    "other_things_to_know_en": "I will be available to help you plan a great vacation and there for any questions you may have",
                    "other_things_to_know_fr": "Test Wechalet",
                    "title_en": "Zen",
                    "title_fr": "Magnifique retrait en Estrie",
                    "travelling_around_en": "You are 3 km from the beautiful village of Eastman also very close is Orford park where you could go to any beaches around this area also 10 minute drive to the beautiful city of Magog while you were find great shops and also beaches many good restaurants",
                    "travelling_around_fr": "Vous avez à moins de 3 km le beau village de Eastman à moins 10 minutes du parc du mont Orford et à 15 minutes de Magog"
                                      
                }
        
        
+ Response 200 (application/json)

    + Body

            {
                 "data": {
                            "id": "9b3d4ad4-cfb8-463a-bb8f-47d9273abc9f",
                            "name": "Zen",
                            "vr_tour_url": null,
                            "status": "published",
                            "progress": 10,
                            "space": {
                              "listing_type": "home",
                              "type_of_rent": "c15e99d2-3006-49c6-820f-e679b35d7ac4",
                              "type_of_property": "d5bf9938-68f1-403f-80c1-054c5d3449ac",
                              "only_for_guests": true,
                              "guests_count": 20,
                              "washrooms_count": 2
                            },
                            "location": {
                              "id": "440bd6f4-17e0-465e-bc12-8a8d98e661ad",
                              "country": "Canada",
                              "state": "New Brunswick",
                              "city": "Six Roads",
                              "address": "Chemin Pallot, Paroisse d'Inkerman",
                              "postal_code": "E1X 3G4",
                              "suite_building": "1st building",
                              "latitude": "45.7105985",
                              "longitude": "-72.3951885"
                            },
                            "amenities": [
                              "2fdf5a8a-45bc-4726-8831-b9c9fd2b689c",
                              "b4751ff2-e314-4f61-a00f-505872e0c19a",
                              "b8e51082-8e0c-4cea-bf71-f7f931891fee"
                            ],
                            "photos": [],
                            "description": {
                              "about_this_property_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "about_this_property_fr": "Cette maison est décorée de façon très épuré vous vous sentirez à la maison. Les lieux sont tranquilles aucun voisin derrière vous avez accès au bois avec parfois quelques visiteurs comme chevreuil. Vous aurez accès un magnifique four à pizza barbecue et magnifique terrasse afin de profiter de la Tranquillité à la campagne",
                              "birds_eye_view_en": "The whole house",
                              "birds_eye_view_fr": "Maison entière",
                              "description_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "description_fr": "Test Wechalet",
                              "home_access_en": "The whole house",
                              "home_access_fr": "Vous aurez accès à la maison entière",
                              "host_availability_fr": "Je reste à votre entière disposition durant votre séjour pour toute question ou afin de vous aider à planifier vos vacances avec différentes activités dans la région",
                              "host_availability_en": "i will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_en": "I will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_fr": "Test Wechalet",
                              "title_en": "Zen",
                              "title_fr": "Magnifique retrait en Estrie",
                              "travelling_around_en": "You are 3 km from the beautiful village of Eastman also very close is Orford park where you could go to any beaches around this area also 10 minute drive to the beautiful city of Magog while you were find great shops and also beaches many good restaurants",
                              "travelling_around_fr": "Vous avez à moins de 3 km le beau village de Eastman à moins 10 minutes du parc du mont Orford et à 15 minutes de Magog"
                            },
                            "booking_settings": {
                              "id": "400cb273-2c60-4b4f-9477-0c033ceff102",
                              "instant_booking": true,
                              "checkin_hour": "12AM",
                              "checkout_hour": "5PM",
                              "min_stay_count": 1,
                              "max_stay_count": 29,
                              "min_stay_type": "nights",
                              "max_stay_type": "nights",
                              "booking_window": "0",
                              "cancellation_policy": "flexible",
                              "other_rules": "other rules",
                              "force_weekend": true,
                              "custom_min_stay": {
                                "min_stay_mondays": 1,
                                "min_stay_tuesdays": 1,
                                "min_stay_wednesdays": 1,
                                "min_stay_thursdays": 1,
                                "min_stay_fridays": 1,
                                "min_stay_saturdays": 1,
                                "min_stay_sundays": 1
                              }
                            },
                            "instant_book_qualifications": [],
                            "house_rules": [],
                            "guest_expectations": [],
                            "calendar": {
                              "dates": [
                                {
                                  "id": "5f367781-3777-4f49-bade-373403f8c060",
                                  "price": 73,
                                  "note": "my block\r",
                                  "is_blocked": true,
                                  "is_booked": false,
                                  "type": "blocked",
                                  "date": "2020-05-12 00:00:00",
                                  "booked_by": "wechalet"
                                }
                               
                              ],
                              "bookings": [
                                {
                                  "id": "2aceaafa-dee2-4b75-b5e5-901c18a7255d",
                                  "start_date": "2020-04-27 00:00:00",
                                  "end_date": "2020-05-09 00:00:00",
                                  "booked_by": "wechalet",
                                  "guest": {
                                    "fullname": "",
                                    "avatar": null
                                  }
                                }
                              ],
                              "has_bookings": false,
                              "can_be_synchronized": true
                            },
                            "pricing": {
                              "cleaning_fee": 36,
                              "security_deposit": 51,
                              "currency": "CAD",
                              "extra_guests_count": 3,
                              "price_per_extra_guest": 126,
                              "base_price": 73,
                              "price_per_weekend": 174,
                              "monthly_discount": 30,
                              "weekly_discount": 10,
                              "allow_guest_above_capacity": 0
                            },
                            "guest_material": {
                              "wifi_name": "test",
                              "wifi_password": "test",
                              "house_manual": "house_manual",
                              "self_checking": "self_checking",
                              "smart_lock": false,
                              "keypad": false,
                              "lockbox": false,
                              "doorman": false
                            },
                            "created_at": "2020-04-26T08:41:28.000000Z",
                            "updated_at": "2020-04-26T10:19:31.000000Z"
                          }
            }
                
+ Response 401 (application/json)

    + Body

             {
                  "message": "Unauthenticated."
             }



## Update booking-settings [/v1/hosting/listings/{uuid}/booking-settings]
+ Parameters
    + uuid (string) - ID of the listing

### Update booking-settings [PUT]
+ Request (application/json)

    + booking settings
        + `instant_book_qualifications` array nullable .
        + `guest_expectations`array  nullable.
        + `house_rules` array nullable.
        + `instant_booking` required boolean.
        + `checkin_hour` required string.
        + `checkout_hour` required string.
        + `min_stay_count` required integer.
        + `max_stay_count` required integer.
        + `min_stay_type` required string in nights, weekes, months.
        + `max_stay_type` required string in nights, weekes, months.
        + `booking_window` required string.
        + `cancellation_policy` required string in flexible, moderate, strict.
        + `force_weekend` required boolean.
        + `custom_min_stay.min_stay_mondays` nullable integer.
        + `custom_min_stay.min_stay_tuesdays` nullable integer.
        + `custom_min_stay.min_stay_wednesdays` nullable integer.
        + `custom_min_stay.min_stay_thursdays` nullable integer.
        + `custom_min_stay.min_stay_fridays` nullable integer.
        + `custom_min_stay.min_stay_saturdays` nullable integer.
        + `custom_min_stay.min_stay_sundays` nullable integer.

    + Body

            
            {
               "instant_book_qualifications": [],
                "guest_expectations": [],
                "house_rules": [],
                "instant_booking": true,
                "checkin_hour": "12AM",
                "checkout_hour": "5PM",
                "min_stay_count": 1,
                "max_stay_count": 29,
                "min_stay_type": "nights",
                "max_stay_type": "nights",
                "booking_window": "0",
                "cancellation_policy": "flexible",
                "other_rules": "other rules",
                "force_weekend": true,
                "custom_min_stay": {
                    "min_stay_mondays": 1,
                    "min_stay_tuesdays": 1,
                    "min_stay_wednesdays": 1,
                    "min_stay_thursdays": 1,
                    "min_stay_fridays": 1,
                    "min_stay_saturdays": 1,
                    "min_stay_sundays": 1
                }                   
            }
            
            
+ Response 200 (application/json)

    + Body

            {
                 "data": {
                            "id": "9b3d4ad4-cfb8-463a-bb8f-47d9273abc9f",
                            "name": "Zen",
                            "vr_tour_url": null,
                            "status": "published",
                            "progress": 10,
                            "space": {
                              "listing_type": "home",
                              "type_of_rent": "c15e99d2-3006-49c6-820f-e679b35d7ac4",
                              "type_of_property": "d5bf9938-68f1-403f-80c1-054c5d3449ac",
                              "only_for_guests": true,
                              "guests_count": 20,
                              "washrooms_count": 2
                            },
                            "location": {
                              "id": "440bd6f4-17e0-465e-bc12-8a8d98e661ad",
                              "country": "Canada",
                              "state": "New Brunswick",
                              "city": "Six Roads",
                              "address": "Chemin Pallot, Paroisse d'Inkerman",
                              "postal_code": "E1X 3G4",
                              "suite_building": "1st building",
                              "latitude": "45.7105985",
                              "longitude": "-72.3951885"
                            },
                            "amenities": [
                              "2fdf5a8a-45bc-4726-8831-b9c9fd2b689c",
                              "b4751ff2-e314-4f61-a00f-505872e0c19a",
                              "b8e51082-8e0c-4cea-bf71-f7f931891fee"
                            ],
                            "photos": [],
                            "description": {
                              "about_this_property_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "about_this_property_fr": "Cette maison est décorée de façon très épuré vous vous sentirez à la maison. Les lieux sont tranquilles aucun voisin derrière vous avez accès au bois avec parfois quelques visiteurs comme chevreuil. Vous aurez accès un magnifique four à pizza barbecue et magnifique terrasse afin de profiter de la Tranquillité à la campagne",
                              "birds_eye_view_en": "The whole house",
                              "birds_eye_view_fr": "Maison entière",
                              "description_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "description_fr": "Test Wechalet",
                              "home_access_en": "The whole house",
                              "home_access_fr": "Vous aurez accès à la maison entière",
                              "host_availability_fr": "Je reste à votre entière disposition durant votre séjour pour toute question ou afin de vous aider à planifier vos vacances avec différentes activités dans la région",
                              "host_availability_en": "i will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_en": "I will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_fr": "Test Wechalet",
                              "title_en": "Zen",
                              "title_fr": "Magnifique retrait en Estrie",
                              "travelling_around_en": "You are 3 km from the beautiful village of Eastman also very close is Orford park where you could go to any beaches around this area also 10 minute drive to the beautiful city of Magog while you were find great shops and also beaches many good restaurants",
                              "travelling_around_fr": "Vous avez à moins de 3 km le beau village de Eastman à moins 10 minutes du parc du mont Orford et à 15 minutes de Magog"
                            },
                            "booking_settings": {
                              "id": "400cb273-2c60-4b4f-9477-0c033ceff102",
                              "instant_booking": true,
                              "checkin_hour": "12AM",
                              "checkout_hour": "5PM",
                              "min_stay_count": 1,
                              "max_stay_count": 29,
                              "min_stay_type": "nights",
                              "max_stay_type": "nights",
                              "booking_window": "0",
                              "cancellation_policy": "flexible",
                              "other_rules": "other rules",
                              "force_weekend": true,
                              "custom_min_stay": {
                                "min_stay_mondays": 1,
                                "min_stay_tuesdays": 1,
                                "min_stay_wednesdays": 1,
                                "min_stay_thursdays": 1,
                                "min_stay_fridays": 1,
                                "min_stay_saturdays": 1,
                                "min_stay_sundays": 1
                              }
                            },
                            "instant_book_qualifications": [],
                            "house_rules": [],
                            "guest_expectations": [],
                            "calendar": {
                              "dates": [
                                {
                                  "id": "5f367781-3777-4f49-bade-373403f8c060",
                                  "price": 73,
                                  "note": "my block\r",
                                  "is_blocked": true,
                                  "is_booked": false,
                                  "type": "blocked",
                                  "date": "2020-05-12 00:00:00",
                                  "booked_by": "wechalet"
                                }
                               
                              ],
                              "bookings": [
                                {
                                  "id": "2aceaafa-dee2-4b75-b5e5-901c18a7255d",
                                  "start_date": "2020-04-27 00:00:00",
                                  "end_date": "2020-05-09 00:00:00",
                                  "booked_by": "wechalet",
                                  "guest": {
                                    "fullname": "",
                                    "avatar": null
                                  }
                                }
                              ],
                              "has_bookings": false,
                              "can_be_synchronized": true
                            },
                            "pricing": {
                              "cleaning_fee": 36,
                              "security_deposit": 51,
                              "currency": "CAD",
                              "extra_guests_count": 3,
                              "price_per_extra_guest": 126,
                              "base_price": 73,
                              "price_per_weekend": 174,
                              "monthly_discount": 30,
                              "weekly_discount": 10,
                              "allow_guest_above_capacity": 0
                            },
                            "guest_material": {
                              "wifi_name": "test",
                              "wifi_password": "test",
                              "house_manual": "house_manual",
                              "self_checking": "self_checking",
                              "smart_lock": false,
                              "keypad": false,
                              "lockbox": false,
                              "doorman": false
                            },
                            "created_at": "2020-04-26T08:41:28.000000Z",
                            "updated_at": "2020-04-26T10:19:31.000000Z"
                          }
            }
                
+ Response 401 (application/json)

    + Body

             {
                  "message": "Unauthenticated."
             }




## Update pricing [/v1/hosting/listings/{uuid}/pricing]
+ Parameters
    + uuid (string) - ID of the listing

### Update pricing [PUT]
+ Request (application/json)

    + pricing
        + `cleaning_fee` required numeric .
        + `security_deposit`required  numeric.
        + `currency` required string.
        + `extra_guests_count` required integer.
        + `price_per_extra_guest` required numeric.
        + `base_price` required numeric.
        + `price_per_weekend` required numeric.
        + `monthly_discount` required numeric.
        + `weekly_discount` required numeric.
        + `allow_guest_above_capacity` required boolean.


    + Body

            
            {
                "cleaning_fee": 36,
                "security_deposit": 51,
                "currency": "CAD",
                "extra_guests_count": 3,
                "price_per_extra_guest": 126,
                "base_price": 73,
                "price_per_weekend": 174,
                "monthly_discount": 30,
                "weekly_discount": 10,
                "allow_guest_above_capacity": 0
            }
            
            
+ Response 200 (application/json)

    + Body

            {
                 "data": {
                            "id": "9b3d4ad4-cfb8-463a-bb8f-47d9273abc9f",
                            "name": "Zen",
                            "vr_tour_url": null,
                            "status": "published",
                            "progress": 10,
                            "space": {
                              "listing_type": "home",
                              "type_of_rent": "c15e99d2-3006-49c6-820f-e679b35d7ac4",
                              "type_of_property": "d5bf9938-68f1-403f-80c1-054c5d3449ac",
                              "only_for_guests": true,
                              "guests_count": 20,
                              "washrooms_count": 2
                            },
                            "location": {
                              "id": "440bd6f4-17e0-465e-bc12-8a8d98e661ad",
                              "country": "Canada",
                              "state": "New Brunswick",
                              "city": "Six Roads",
                              "address": "Chemin Pallot, Paroisse d'Inkerman",
                              "postal_code": "E1X 3G4",
                              "suite_building": "1st building",
                              "latitude": "45.7105985",
                              "longitude": "-72.3951885"
                            },
                            "amenities": [
                              "2fdf5a8a-45bc-4726-8831-b9c9fd2b689c",
                              "b4751ff2-e314-4f61-a00f-505872e0c19a",
                              "b8e51082-8e0c-4cea-bf71-f7f931891fee"
                            ],
                            "photos": [],
                            "description": {
                              "about_this_property_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "about_this_property_fr": "Cette maison est décorée de façon très épuré vous vous sentirez à la maison. Les lieux sont tranquilles aucun voisin derrière vous avez accès au bois avec parfois quelques visiteurs comme chevreuil. Vous aurez accès un magnifique four à pizza barbecue et magnifique terrasse afin de profiter de la Tranquillité à la campagne",
                              "birds_eye_view_en": "The whole house",
                              "birds_eye_view_fr": "Maison entière",
                              "description_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "description_fr": "Test Wechalet",
                              "home_access_en": "The whole house",
                              "home_access_fr": "Vous aurez accès à la maison entière",
                              "host_availability_fr": "Je reste à votre entière disposition durant votre séjour pour toute question ou afin de vous aider à planifier vos vacances avec différentes activités dans la région",
                              "host_availability_en": "i will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_en": "I will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_fr": "Test Wechalet",
                              "title_en": "Zen",
                              "title_fr": "Magnifique retrait en Estrie",
                              "travelling_around_en": "You are 3 km from the beautiful village of Eastman also very close is Orford park where you could go to any beaches around this area also 10 minute drive to the beautiful city of Magog while you were find great shops and also beaches many good restaurants",
                              "travelling_around_fr": "Vous avez à moins de 3 km le beau village de Eastman à moins 10 minutes du parc du mont Orford et à 15 minutes de Magog"
                            },
                            "booking_settings": {
                              "id": "400cb273-2c60-4b4f-9477-0c033ceff102",
                              "instant_booking": true,
                              "checkin_hour": "12AM",
                              "checkout_hour": "5PM",
                              "min_stay_count": 1,
                              "max_stay_count": 29,
                              "min_stay_type": "nights",
                              "max_stay_type": "nights",
                              "booking_window": "0",
                              "cancellation_policy": "flexible",
                              "other_rules": "other rules",
                              "force_weekend": true,
                              "custom_min_stay": {
                                "min_stay_mondays": 1,
                                "min_stay_tuesdays": 1,
                                "min_stay_wednesdays": 1,
                                "min_stay_thursdays": 1,
                                "min_stay_fridays": 1,
                                "min_stay_saturdays": 1,
                                "min_stay_sundays": 1
                              }
                            },
                            "instant_book_qualifications": [],
                            "house_rules": [],
                            "guest_expectations": [],
                            "calendar": {
                              "dates": [
                                {
                                  "id": "5f367781-3777-4f49-bade-373403f8c060",
                                  "price": 73,
                                  "note": "my block\r",
                                  "is_blocked": true,
                                  "is_booked": false,
                                  "type": "blocked",
                                  "date": "2020-05-12 00:00:00",
                                  "booked_by": "wechalet"
                                }
                               
                              ],
                              "bookings": [
                                {
                                  "id": "2aceaafa-dee2-4b75-b5e5-901c18a7255d",
                                  "start_date": "2020-04-27 00:00:00",
                                  "end_date": "2020-05-09 00:00:00",
                                  "booked_by": "wechalet",
                                  "guest": {
                                    "fullname": "",
                                    "avatar": null
                                  }
                                }
                              ],
                              "has_bookings": false,
                              "can_be_synchronized": true
                            },
                            "pricing": {
                              "cleaning_fee": 36,
                              "security_deposit": 51,
                              "currency": "CAD",
                              "extra_guests_count": 3,
                              "price_per_extra_guest": 126,
                              "base_price": 73,
                              "price_per_weekend": 174,
                              "monthly_discount": 30,
                              "weekly_discount": 10,
                              "allow_guest_above_capacity": 0
                            },
                            "guest_material": {
                              "wifi_name": "test",
                              "wifi_password": "test",
                              "house_manual": "house_manual",
                              "self_checking": "self_checking",
                              "smart_lock": false,
                              "keypad": false,
                              "lockbox": false,
                              "doorman": false
                            },
                            "created_at": "2020-04-26T08:41:28.000000Z",
                            "updated_at": "2020-04-26T10:19:31.000000Z"
                          }
            }
                
+ Response 401 (application/json)

    + Body

             {
                  "message": "Unauthenticated."
             }




## Update guest-material [/v1/hosting/listings/{uuid}/guest-material]
+ Parameters
    + uuid (string) - ID of the listing

### Update guest-material [PUT]
+ Request (application/json)

    + guest material
        + `smart_lock` required boolean.
        + `keypad`required  boolean.
        + `lockbox` required boolean.
        + `doorman` required boolean.

    + Body

            {
                "smart_lock": true,
                "keypad": false,
                "lockbox": false,
                "doorman": false
            }
+ Response 200 (application/json)

    + Body

            {
                 "data": {
                            "id": "9b3d4ad4-cfb8-463a-bb8f-47d9273abc9f",
                            "name": "Zen",
                            "vr_tour_url": null,
                            "status": "published",
                            "progress": 10,
                            "space": {
                              "listing_type": "home",
                              "type_of_rent": "c15e99d2-3006-49c6-820f-e679b35d7ac4",
                              "type_of_property": "d5bf9938-68f1-403f-80c1-054c5d3449ac",
                              "only_for_guests": true,
                              "guests_count": 20,
                              "washrooms_count": 2
                            },
                            "location": {
                              "id": "440bd6f4-17e0-465e-bc12-8a8d98e661ad",
                              "country": "Canada",
                              "state": "New Brunswick",
                              "city": "Six Roads",
                              "address": "Chemin Pallot, Paroisse d'Inkerman",
                              "postal_code": "E1X 3G4",
                              "suite_building": "1st building",
                              "latitude": "45.7105985",
                              "longitude": "-72.3951885"
                            },
                            "amenities": [
                              "2fdf5a8a-45bc-4726-8831-b9c9fd2b689c",
                              "b4751ff2-e314-4f61-a00f-505872e0c19a",
                              "b8e51082-8e0c-4cea-bf71-f7f931891fee"
                            ],
                            "photos": [],
                            "description": {
                              "about_this_property_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "about_this_property_fr": "Cette maison est décorée de façon très épuré vous vous sentirez à la maison. Les lieux sont tranquilles aucun voisin derrière vous avez accès au bois avec parfois quelques visiteurs comme chevreuil. Vous aurez accès un magnifique four à pizza barbecue et magnifique terrasse afin de profiter de la Tranquillité à la campagne",
                              "birds_eye_view_en": "The whole house",
                              "birds_eye_view_fr": "Maison entière",
                              "description_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "description_fr": "Test Wechalet",
                              "home_access_en": "The whole house",
                              "home_access_fr": "Vous aurez accès à la maison entière",
                              "host_availability_fr": "Je reste à votre entière disposition durant votre séjour pour toute question ou afin de vous aider à planifier vos vacances avec différentes activités dans la région",
                              "host_availability_en": "i will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_en": "I will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_fr": "Test Wechalet",
                              "title_en": "Zen",
                              "title_fr": "Magnifique retrait en Estrie",
                              "travelling_around_en": "You are 3 km from the beautiful village of Eastman also very close is Orford park where you could go to any beaches around this area also 10 minute drive to the beautiful city of Magog while you were find great shops and also beaches many good restaurants",
                              "travelling_around_fr": "Vous avez à moins de 3 km le beau village de Eastman à moins 10 minutes du parc du mont Orford et à 15 minutes de Magog"
                            },
                            "booking_settings": {
                              "id": "400cb273-2c60-4b4f-9477-0c033ceff102",
                              "instant_booking": true,
                              "checkin_hour": "12AM",
                              "checkout_hour": "5PM",
                              "min_stay_count": 1,
                              "max_stay_count": 29,
                              "min_stay_type": "nights",
                              "max_stay_type": "nights",
                              "booking_window": "0",
                              "cancellation_policy": "flexible",
                              "other_rules": "other rules",
                              "force_weekend": true,
                              "custom_min_stay": {
                                "min_stay_mondays": 1,
                                "min_stay_tuesdays": 1,
                                "min_stay_wednesdays": 1,
                                "min_stay_thursdays": 1,
                                "min_stay_fridays": 1,
                                "min_stay_saturdays": 1,
                                "min_stay_sundays": 1
                              }
                            },
                            "instant_book_qualifications": [],
                            "house_rules": [],
                            "guest_expectations": [],
                            "calendar": {
                              "dates": [
                                {
                                  "id": "5f367781-3777-4f49-bade-373403f8c060",
                                  "price": 73,
                                  "note": "my block\r",
                                  "is_blocked": true,
                                  "is_booked": false,
                                  "type": "blocked",
                                  "date": "2020-05-12 00:00:00",
                                  "booked_by": "wechalet"
                                }
                               
                              ],
                              "bookings": [
                                {
                                  "id": "2aceaafa-dee2-4b75-b5e5-901c18a7255d",
                                  "start_date": "2020-04-27 00:00:00",
                                  "end_date": "2020-05-09 00:00:00",
                                  "booked_by": "wechalet",
                                  "guest": {
                                    "fullname": "",
                                    "avatar": null
                                  }
                                }
                              ],
                              "has_bookings": false,
                              "can_be_synchronized": true
                            },
                            "pricing": {
                              "cleaning_fee": 36,
                              "security_deposit": 51,
                              "currency": "CAD",
                              "extra_guests_count": 3,
                              "price_per_extra_guest": 126,
                              "base_price": 73,
                              "price_per_weekend": 174,
                              "monthly_discount": 30,
                              "weekly_discount": 10,
                              "allow_guest_above_capacity": 0
                            },
                            "guest_material": {
                              "wifi_name": "test",
                              "wifi_password": "test",
                              "house_manual": "house_manual",
                              "self_checking": "self_checking",
                              "smart_lock": false,
                              "keypad": false,
                              "lockbox": false,
                              "doorman": false
                            },
                            "created_at": "2020-04-26T08:41:28.000000Z",
                            "updated_at": "2020-04-26T10:19:31.000000Z"
                          }
            }
                
+ Response 401 (application/json)

    + Body

             {
                  "message": "Unauthenticated."
             }





## Update calendar [/v1/hosting/listings/{uuid}/calendar]
+ Parameters
    + uuid (string) - ID of the listing

### Update calendar [PUT]
+ Request (application/json)

    + calendar
        + `start_date` required date format yyyy-mm-dd.
        + `end_date` required date format yyyy-mm-dd.
        + `note` nullable string.
        + `availability` required boolean.
        + `weekend_price` required numeric.
        + `special_price` required numeric.

    + Body

             {
                "start_date": "2020-12-12",
                "end_date": "2020-12-14",
                "note": "wechalet blocked",
                "availability": false,
                "weekend_price": 120,
                "special_price": 140
            }
+ Response 200 (application/json)

    + Body

            {
                 "data": {
                            "id": "9b3d4ad4-cfb8-463a-bb8f-47d9273abc9f",
                            "name": "Zen",
                            "vr_tour_url": null,
                            "status": "published",
                            "progress": 10,
                            "space": {
                              "listing_type": "home",
                              "type_of_rent": "c15e99d2-3006-49c6-820f-e679b35d7ac4",
                              "type_of_property": "d5bf9938-68f1-403f-80c1-054c5d3449ac",
                              "only_for_guests": true,
                              "guests_count": 20,
                              "washrooms_count": 2
                            },
                            "location": {
                              "id": "440bd6f4-17e0-465e-bc12-8a8d98e661ad",
                              "country": "Canada",
                              "state": "New Brunswick",
                              "city": "Six Roads",
                              "address": "Chemin Pallot, Paroisse d'Inkerman",
                              "postal_code": "E1X 3G4",
                              "suite_building": "1st building",
                              "latitude": "45.7105985",
                              "longitude": "-72.3951885"
                            },
                            "amenities": [
                              "2fdf5a8a-45bc-4726-8831-b9c9fd2b689c",
                              "b4751ff2-e314-4f61-a00f-505872e0c19a",
                              "b8e51082-8e0c-4cea-bf71-f7f931891fee"
                            ],
                            "photos": [],
                            "description": {
                              "about_this_property_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "about_this_property_fr": "Cette maison est décorée de façon très épuré vous vous sentirez à la maison. Les lieux sont tranquilles aucun voisin derrière vous avez accès au bois avec parfois quelques visiteurs comme chevreuil. Vous aurez accès un magnifique four à pizza barbecue et magnifique terrasse afin de profiter de la Tranquillité à la campagne",
                              "birds_eye_view_en": "The whole house",
                              "birds_eye_view_fr": "Maison entière",
                              "description_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "description_fr": "Test Wechalet",
                              "home_access_en": "The whole house",
                              "home_access_fr": "Vous aurez accès à la maison entière",
                              "host_availability_fr": "Je reste à votre entière disposition durant votre séjour pour toute question ou afin de vous aider à planifier vos vacances avec différentes activités dans la région",
                              "host_availability_en": "i will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_en": "I will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_fr": "Test Wechalet",
                              "title_en": "Zen",
                              "title_fr": "Magnifique retrait en Estrie",
                              "travelling_around_en": "You are 3 km from the beautiful village of Eastman also very close is Orford park where you could go to any beaches around this area also 10 minute drive to the beautiful city of Magog while you were find great shops and also beaches many good restaurants",
                              "travelling_around_fr": "Vous avez à moins de 3 km le beau village de Eastman à moins 10 minutes du parc du mont Orford et à 15 minutes de Magog"
                            },
                            "booking_settings": {
                              "id": "400cb273-2c60-4b4f-9477-0c033ceff102",
                              "instant_booking": true,
                              "checkin_hour": "12AM",
                              "checkout_hour": "5PM",
                              "min_stay_count": 1,
                              "max_stay_count": 29,
                              "min_stay_type": "nights",
                              "max_stay_type": "nights",
                              "booking_window": "0",
                              "cancellation_policy": "flexible",
                              "other_rules": "other rules",
                              "force_weekend": true,
                              "custom_min_stay": {
                                "min_stay_mondays": 1,
                                "min_stay_tuesdays": 1,
                                "min_stay_wednesdays": 1,
                                "min_stay_thursdays": 1,
                                "min_stay_fridays": 1,
                                "min_stay_saturdays": 1,
                                "min_stay_sundays": 1
                              }
                            },
                            "instant_book_qualifications": [],
                            "house_rules": [],
                            "guest_expectations": [],
                            "calendar": {
                              "dates": [
                                {
                                  "id": "941802b0-b491-410c-8ff7-74defd944303",
                                  "price": 120,
                                  "note": "wechalet blocked",
                                  "is_blocked": true,
                                  "is_booked": false,
                                  "type": "blocked",
                                  "date": "2020-12-12 00:00:00",
                                  "booked_by": "wechalet"
                                },
                                {
                                  "id": "33f3ecab-8a3d-4673-bb70-fc467ab99f65",
                                  "price": 140,
                                  "note": "wechalet blocked",
                                  "is_blocked": true,
                                  "is_booked": false,
                                  "type": "blocked",
                                  "date": "2020-12-13 00:00:00",
                                  "booked_by": "wechalet"
                                },
                                {
                                  "id": "abe59748-e1a6-430f-b0cf-b0a5b5003dcd",
                                  "price": 140,
                                  "note": "wechalet blocked",
                                  "is_blocked": true,
                                  "is_booked": false,
                                  "type": "blocked",
                                  "date": "2020-12-14 00:00:00",
                                  "booked_by": "wechalet"
                                }
                               
                              ],
                              "bookings": [
                                {
                                  "id": "2aceaafa-dee2-4b75-b5e5-901c18a7255d",
                                  "start_date": "2020-04-27 00:00:00",
                                  "end_date": "2020-05-09 00:00:00",
                                  "booked_by": "wechalet",
                                  "guest": {
                                    "fullname": "",
                                    "avatar": null
                                  }
                                }
                              ],
                              "has_bookings": false,
                              "can_be_synchronized": true
                            },
                            "pricing": {
                              "cleaning_fee": 36,
                              "security_deposit": 51,
                              "currency": "CAD",
                              "extra_guests_count": 3,
                              "price_per_extra_guest": 126,
                              "base_price": 73,
                              "price_per_weekend": 174,
                              "monthly_discount": 30,
                              "weekly_discount": 10,
                              "allow_guest_above_capacity": 0
                            },
                            "guest_material": {
                              "wifi_name": "test",
                              "wifi_password": "test",
                              "house_manual": "house_manual",
                              "self_checking": "self_checking",
                              "smart_lock": false,
                              "keypad": false,
                              "lockbox": false,
                              "doorman": false
                            },
                            "created_at": "2020-04-26T08:41:28.000000Z",
                            "updated_at": "2020-04-26T10:19:31.000000Z"
                          }
            }
                
+ Response 401 (application/json)

    + Body

             {
                  "message": "Unauthenticated."
             }
             
             



## publish listing [/v1/hosting/listings/{uuid}/publish]
+ Parameters
    + uuid (string) - ID of the listing

### publish listing [PUT]
+ Request (application/json)

        {
         
        }
+ Response 200 (application/json)

    + Body

            {
                 "data": {
                            "id": "9b3d4ad4-cfb8-463a-bb8f-47d9273abc9f",
                            "name": "Zen",
                            "vr_tour_url": null,
                            "status": "published",
                            "progress": 10,
                            "space": {
                              "listing_type": "home",
                              "type_of_rent": "c15e99d2-3006-49c6-820f-e679b35d7ac4",
                              "type_of_property": "d5bf9938-68f1-403f-80c1-054c5d3449ac",
                              "only_for_guests": true,
                              "guests_count": 20,
                              "washrooms_count": 2
                            },
                            "location": {
                              "id": "440bd6f4-17e0-465e-bc12-8a8d98e661ad",
                              "country": "Canada",
                              "state": "New Brunswick",
                              "city": "Six Roads",
                              "address": "Chemin Pallot, Paroisse d'Inkerman",
                              "postal_code": "E1X 3G4",
                              "suite_building": "1st building",
                              "latitude": "45.7105985",
                              "longitude": "-72.3951885"
                            },
                            "amenities": [
                              "2fdf5a8a-45bc-4726-8831-b9c9fd2b689c",
                              "b4751ff2-e314-4f61-a00f-505872e0c19a",
                              "b8e51082-8e0c-4cea-bf71-f7f931891fee"
                            ],
                            "photos": [],
                            "description": {
                              "about_this_property_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "about_this_property_fr": "Cette maison est décorée de façon très épuré vous vous sentirez à la maison. Les lieux sont tranquilles aucun voisin derrière vous avez accès au bois avec parfois quelques visiteurs comme chevreuil. Vous aurez accès un magnifique four à pizza barbecue et magnifique terrasse afin de profiter de la Tranquillité à la campagne",
                              "birds_eye_view_en": "The whole house",
                              "birds_eye_view_fr": "Maison entière",
                              "description_en": "This house and the beautiful village of Eastman will want to make you come back no neighbours in the backyard just peace and quiet in the country",
                              "description_fr": "Test Wechalet",
                              "home_access_en": "The whole house",
                              "home_access_fr": "Vous aurez accès à la maison entière",
                              "host_availability_fr": "Je reste à votre entière disposition durant votre séjour pour toute question ou afin de vous aider à planifier vos vacances avec différentes activités dans la région",
                              "host_availability_en": "i will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_en": "I will be available to help you plan a great vacation and there for any questions you may have",
                              "other_things_to_know_fr": "Test Wechalet",
                              "title_en": "Zen",
                              "title_fr": "Magnifique retrait en Estrie",
                              "travelling_around_en": "You are 3 km from the beautiful village of Eastman also very close is Orford park where you could go to any beaches around this area also 10 minute drive to the beautiful city of Magog while you were find great shops and also beaches many good restaurants",
                              "travelling_around_fr": "Vous avez à moins de 3 km le beau village de Eastman à moins 10 minutes du parc du mont Orford et à 15 minutes de Magog"
                            },
                            "booking_settings": {
                              "id": "400cb273-2c60-4b4f-9477-0c033ceff102",
                              "instant_booking": true,
                              "checkin_hour": "12AM",
                              "checkout_hour": "5PM",
                              "min_stay_count": 1,
                              "max_stay_count": 29,
                              "min_stay_type": "nights",
                              "max_stay_type": "nights",
                              "booking_window": "0",
                              "cancellation_policy": "flexible",
                              "other_rules": "other rules",
                              "force_weekend": true,
                              "custom_min_stay": {
                                "min_stay_mondays": 1,
                                "min_stay_tuesdays": 1,
                                "min_stay_wednesdays": 1,
                                "min_stay_thursdays": 1,
                                "min_stay_fridays": 1,
                                "min_stay_saturdays": 1,
                                "min_stay_sundays": 1
                              }
                            },
                            "instant_book_qualifications": [],
                            "house_rules": [],
                            "guest_expectations": [],
                            "calendar": {
                              "dates": [
                                {
                                  "id": "5f367781-3777-4f49-bade-373403f8c060",
                                  "price": 73,
                                  "note": "my block\r",
                                  "is_blocked": true,
                                  "is_booked": false,
                                  "type": "blocked",
                                  "date": "2020-05-12 00:00:00",
                                  "booked_by": "wechalet"
                                }
                               
                              ],
                              "bookings": [
                                {
                                  "id": "2aceaafa-dee2-4b75-b5e5-901c18a7255d",
                                  "start_date": "2020-04-27 00:00:00",
                                  "end_date": "2020-05-09 00:00:00",
                                  "booked_by": "wechalet",
                                  "guest": {
                                    "fullname": "",
                                    "avatar": null
                                  }
                                }
                              ],
                              "has_bookings": false,
                              "can_be_synchronized": true
                            },
                            "pricing": {
                              "cleaning_fee": 36,
                              "security_deposit": 51,
                              "currency": "CAD",
                              "extra_guests_count": 3,
                              "price_per_extra_guest": 126,
                              "base_price": 73,
                              "price_per_weekend": 174,
                              "monthly_discount": 30,
                              "weekly_discount": 10,
                              "allow_guest_above_capacity": 0
                            },
                            "guest_material": {
                              "wifi_name": "test",
                              "wifi_password": "test",
                              "house_manual": "house_manual",
                              "self_checking": "self_checking",
                              "smart_lock": false,
                              "keypad": false,
                              "lockbox": false,
                              "doorman": false
                            },
                            "created_at": "2020-04-26T08:41:28.000000Z",
                            "updated_at": "2020-04-26T10:19:31.000000Z"
                          }
            }
                
+ Response 401 (application/json)

    + Body

             {
                  "message": "Unauthenticated."
             }



## paused listing [/v1/hosting/listings/{uuid}/pause]
+ Parameters
    + uuid (string) - ID of the listing

### pause [PUT]
+ Request (application/json)

        {
         
        }
+ Response 200 (application/json)

    + Body

            {
                 "data": {
                            "id": "9b3d4ad4-cfb8-463a-bb8f-47d9273abc9f",
                            "name": "Zen",
                            "vr_tour_url": null,
                            "status": "paused",
                            "progress": 10,
                            "space": {
                              "listing_type": "home",
                              "type_of_rent": "c15e99d2-3006-49c6-820f-e679b35d7ac4",
                              "type_of_property": "d5bf9938-68f1-403f-80c1-054c5d3449ac",
                              "only_for_guests": true,
                              "guests_count": 20,
                              "washrooms_count": 2
                            },
                            "location": {
                              "id": "440bd6f4-17e0-465e-bc12-8a8d98e661ad",
                              "country": "Canada",
                              "state": "New Brunswick",
                              "city": "Six Roads",
                              "address": "Chemin Pallot, Paroisse d'Inkerman",
                              "postal_code": "E1X 3G4",
                              "suite_building": "1st building",
[...]
